* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    list-style: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

input:focus {
    outline: none;
}


header {
    padding: 32px 8px 16px 8px;
    background-color: #0B128C;
}

h1 {
    color: #fff;
    font-size: 2rem;
    text-align: center;
}

.input-container {
    max-width: 560px;
    margin: 32px auto 24px auto;
    text-align: center;
}

.input-container input {
    display: block;
    margin: 8px auto;
    padding: 8px;
    width: 100%;
    height: 32px;
    border-radius: 4px;
    font-size: 1.05rem;
    font-weight: 300;
}

.input-container select {
    margin: 8px auto;
    height: 24px;
    border-radius: 4px;
    width: calc(50% - 3px);
}

.input-container button {
    display: block;
    width: 100%;
    margin: 8px auto;
    padding: 8px;
    border-radius: 5px;
    font-weight: 700;
    cursor: pointer;
}

.input-container button:hover {
    opacity: 0.6;
}

.input-container #task-btn {
    background-color: #439FD9;
    color: #fff;
}

.input-container #clear-btn {
    margin-top: 24px;
    background-color: #F24968;    
    color: #fff;
}

.planner-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.planner-container .dias {
    min-width: calc(100%/7);
    min-height: calc(100vh - 320px);
    padding: 16px;
    border: 1px solid #439FD9;
}

.planner-container .dias h3 {
    text-align: center;
    color: #439FD9
}

.planner-container .dias ul {
    margin: 32px 0;
}

.planner-container .dias ul li {
    margin: 8px auto;
}

.line-through {
    text-decoration: line-through;
}

@media screen and (max-width: 990px) {
    .planner-container .dias {
        min-width: calc(100%/3);
    }
}

@media screen and (max-width: 550px) {
    .planner-container {
        display: block;
    }
    
    .planner-container .dias {
        min-width: 100%;
    }
}